[submodule "client_examples/openeo-community-examples"]
	path = client_examples/openeo-community-examples
	url = https://github.com/Open-EO/openeo-community-examples.git

[submodule "notebook-samples"]
	path = notebook-samples
	url = https://github.com/eu-cdse/notebook-samples.git